<!doctype html>
<html lang="de">
<head>

  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">

  <link rel="shortcut icon" href="/assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/appicon.png">

  <meta property="og:image" content="/assets/images/fbicon.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">

  <title>{% block title %}{{ site.title }} | {{ page.title }}{% endblock title %}</title>

  {{ inlineRenderer('/assets/criticals.bundle.css', 'style')|raw }}

  <link rel="stylesheet" type="text/css" href="/assets/app.bundle.css">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  {% block styles %}
  {% endblock styles %}
</head>
<body>

  <div class="page">
    {% block header %}
      <header class="header">
        <a class="logo" href="{{ site.url }}">{{ site.title }}</a>

        <nav id="menu" class="menu">
          <ul>
            {% for item in site.children.listed %}
              <li>{{ item.title.link|raw }}</li>
            {% endfor %}
          </ul>
        </nav>
      </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

  </div>

  {% block footer %}
  <footer class="footer">
    <a href="/">&copy; {{ "now"|date("Y")}} / {{ site.title }}</a>
  </footer>
  {% endblock footer %}

  <script src="/assets/app.bundle.js" deferr></script>

  {% block javascript %}
  {% endblock javascript %}

</body>
</html>
